body {
    background-color: rgb(204,255,255);
}
#container {
    border-color: blue;
}
#top, #menu, #nove, #main {
    border-color: blue;
    background-color: rgb(102,153,204);
}
.g {
    color: blue;
}
table.kontakt td {
    border-left-color: blue;
}
.d {
    color: #00008B; /*darkblue*/
}
#ja {
    color: blue;
}
input, textarea, select, pre {
    color: blue;
    border-color: blue;
}
/*------------------------------------ top ------------------------------------*/
#top h2 {
    background-color: blue;
}
/*------------------------------------ menu -----------------------------------*/
#menu h3 {
    color: rgb(0,51,102);
    border-bottom-color: rgb(0,51,102);
}
#menu a:hover {
    color: #00008B; /*darkblue*/
}
#menu fieldset {
    border-color: #00008B; /*darkblue*/
}
#menu legend {
    color: #00008B; /*darkblue*/
}
/*------------------------------------ nove -----------------------------------*/
#nove h3 {
    color: rgb(51,0,153);
    border-bottom-color: rgb(51,0,153);
}
/*------------------------------------ main -----------------------------------*/
#main h3 {
    color: blue;
    border-bottom-color: blue;
}
#main h4 {
    color: rgb(74,115,158);
}
#main hr {
    border-color: blue;
}
#main a {
    color: #00008B; /*darkblue*/
}
#main table.data thead {
    background-color: blue;
}
#main table.data tbody td, #main table.pager td {
    border-color: blue;
}
#main table.data tbody tr, #main table.pager td {
    background-color: rgb(153,153,255);
}
#main table.data tbody tr.dark, #main table.pager td.dark {
    background-color: rgb(173,173,255);
}
/*-------------------------------- oble rohy ----------------------------------*/
div.corner
{
    background-image: url('../img/corner_blue.png');
}
div.contcorner
{
    background-image: url('../img/corner_blue_cont.png');
    background-color: rgb(204,255,255);
}