body {
    color: white;
    font-family: Arial, Helvetica, "Sans-serif";
    font-size: 12px;
    counter-reset: faq;
}
#container {
    background-color: white;
}
#container, #top, #menu, #nove, #main {
    position:relative;
    border-width: 2px;
    border-style: solid;
    padding: 20px;
    margin: 5px;
}
#container { /*celkova sirka stranky 1000px -> 1000-2x2border-2x20padding = 956 */
    width: 956px;
    margin: 20px auto;
}
.r {
    color: red;
}
p {
    font-weight: bold;
}
img {
    border-style: none;
}
#img1, #img2, #img3 {
    cursor: pointer;
}
h3 {       /* vsetky nazvy divov  */
    margin: 0 0 15px;
    text-decoration: none;
    text-align: right;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    font-size: 14px;
}
ul {
    list-style-type: square;
}
#ja {
    position: relative;
    left: 5px;
    text-decoration: none;
    font-variant: small-caps;
}
#ja:hover {
    font-size: 14px;
    text-decoration: underline;
    font-weight: bold;
}
#container .errbox, #container .okbox {
    border: 2px solid black;
    background-color: white;
    display: none;
    padding: 10px;
}
#container .errbox {
    border-color: red;
    color: red;
}
#container .okbox {
    border-color: green;
    color: green;
}
input, textarea, select, pre {
    font-size: 12px; /* firefox a ... ignoruje font-size pre input nastaveny v predchodcovi (body) */
    border-width: 1px;
    border-style: solid;
    background-color: white;
}
pre
{
    white-space: pre-wrap;
    padding: 10px;
}
input[type='text'],input[type='password'], textarea, select
{
    width: 100%;
}
input, textarea, select
{
    margin: 0;
    padding: 1px;
}
a {
    text-decoration: underline;
}
a:hover {
    color: red;
}
/*------------------------------------ top ------------------------------------*/
#top{
    /*background-image: url('../img/top.jpg');
    background-repeat: no-repeat;*/
}
#top h1 {
    letter-spacing: 10px;
    padding: 0;
    margin: 0;
    font-size: 85px;
    position: absolute;
    left: 40px;
    top: -40px;
}
#top h1.below {
    clip: rect(38px, auto, auto,auto); /*nie 40px odstrihnut zhora lebo chcem aby aj cez border(2px) islo */
}
#top h2 {
    padding: 40px 20px 20px;
    text-align: right;
    font-size: 25px;
    margin: auto -20px;
}
/*----------------------------------- left (menu+nove) ------------------------*/
#left{
    width: 184px; /* 130(menu/nove)+40(2x20-padding)+4(2x2-border)+10(2x5-margin)*/
    float: left;
}
/*------------------------------------ menu -----------------------------------*/
#menu fieldset {
    padding: 0px;
    margin: 15px 0;
    border-width: 1px;
    border-style: solid;
    border-left-style: none;
    border-right-style: none;
}
#menu legend {
    font-size: 11px;
}
#menu fieldset a {
    text-decoration: none;
    display: block;
    height: 15px;
    padding: 1px 10px;
    margin: 1px 0px;
    color: white;
}
#menu fieldset a:hover {
    background-image: url('../img/button.png');
}
/*------------------------------------ nove -----------------------------------*/
#nove {
    margin-top: 10px; /* normalne 5 ale pri float sa neprelinaju */
}
/*------------------------------------ main -----------------------------------*/
#main {
    margin: 10px 5px 10px 189px;/*top right bottom left*/
}
#main h3 { /* vacsi font ako ostatne divy */
    font-size: 18px;
    margin-bottom: 30px;
}
#main h4 {
    margin: 10px;
    font-size: 12px;
}
#main h4 + p {
    margin-top: -5px;
}
#main h4.faq:before {
    counter-increment: faq;
    content: "FAQ " counter(faq) ". ";
}
#main hr {
    border-width: 1px;
    border-style: solid;
    margin-top: 10px;
    margin-bottom: 10px;
}
#main > form
{
    width: 300px;
    position: relative;
    margin: 0 auto;
}
#main table.data {
    width: 100%;
    border-collapse: collapse;
}
#main table.data thead th
{
    font-weight: bolder;
    text-align: center;
    padding: 8px;
}
#main table.data tbody td
{
    border-width: 1px;
    border-style: solid;
    padding: 8px;
    vertical-align: top;
}
#main table.data tbody tr:hover td
{
    background-color: white;
    color: black;
}
#main table.pager
{
    border-spacing: 5px;
    position: relative;
    margin-left: auto;
    margin-right: 0;
}
#main table.pager td
{
    vertical-align: middle;
    border-width: 1px;
    border-style: solid;
    padding: 0px 5px;
}
#main table.pager td:hover, #main table.pager td.dark:hover
{
    background-color: white;
    color: black;
}
#main table.pager td select  /* fix defaultnej 100% sirky */
{
    width: auto;
}
#main div.flash
{
    border: 1px solid black;
    color: black;
    background: white url('../img/flash.png') no-repeat 5px;
    margin: 10px 0px;
    padding: 10px 10px 10px 40px;
}
/*-------------------------------- oble rohy ----------------------------------*/
div.corner, div.contcorner
{
    background-color: white;
    width:16px;
    height:16px;
    position:absolute;
}
div.top_left
{
    top:-2px;
    left:-2px;
    background-position: 0px 0px;
}
div.top_right
{
    top:-2px;
    right:-2px;
    background-position: -16px 0px;
}
div.bottom_left
{
    bottom:-2px;
    left:-2px;
    background-position: 0px -16px;
}
div.bottom_right
{
    bottom:-2px;
    right:-2px;
    background-position: -16px -16px;
}
