html {
    background-color: rgb(204,255,204);
}
body {
    border-color: green;
}
#top, #menu, #nove, #main {
    border-color: green;
    background-color: rgb(129,192,67);
}
.g {
    color: green !important;
}
table.kontakt td {
    border-left-color: green;
}
.d {
    color: #006400; /*darkgreen*/
}
#ja {
    color: green;
}
input, textarea, select, code {
    color: green;
    border-color: green;
}
a {
    color: #006400; /*darkgreen*/
}
/*------------------------------------ top ------------------------------------*/
#top h1.above {
    color: green;
}
#top h2 {
    background-color: green;
}
/*------------------------------------ menu -----------------------------------*/
#menu h3 {
    color: rgb(42,71,20);
    border-bottom-color: rgb(42,71,20);
}
#menu fieldset {
    border-color: #006400; /*  darkgreen*/
}
#menu legend {
    color: #006400; /*darkgreen*/
}
#menu fieldset a:hover {
    color: #006400; /*darkgreen*/
}
/*------------------------------------ nove -----------------------------------*/
#nove h3 {
    color: rgb(102,153,0);
    border-bottom-color: rgb(102,153,0);
}
/*------------------------------------ main -----------------------------------*/
#main h3 {
    color: green;
    border-bottom-color: green;
}
#main h4 {
    color: rgb(102,153,51);
}
#main hr {
    border-color: green;
}
#main table.data thead {
    background-color: green;
}
#main table.data tbody td, #main table.pager td {
    border-color: green;
}
#main table.data tbody tr, #main table.pager td {
    background-color: rgb(150,206,119);
}
#main table.data tbody tr.dark, #main table.pager td.dark {
    background-color: rgb(170,226,139);
}
/*-------------------------------- oble rohy ----------------------------------*/
#top > div.corner, #menu > div.corner, #nove > div.corner, #main > div.corner
{
    background-image: url('/img/corner_green.png');
}
body > div.corner
{
    background-image: url('/img/corner_green_cont.png');
    background-color: rgb(204,255,204);
}
div.flash > div.corner, div.error > div.corner
{
   background-color: rgb(129,192,67);
}