body {
    background-color: rgb(255,255,153);
}
#container {
    border-color: orange;
}
#top, #menu, #nove, #main {
    border-color: orange;
    background-color: rgb(235,202,122);
}
.g {
    color: orange;
}
table.kontakt td {
    border-left-color: orange;
}
.d {
    color: #FF8C00; /*darkorange*/
}
#ja {
    color: orange;
}
input, textarea, select, pre {
    color: orange;
    border-color: orange;
}
a {
    color: #FF8C00; /*darkorange*/
}
/*------------------------------------ top ------------------------------------*/
#top h1.above {
    color: orange;
}
#top h2 {
    background-color: orange;
}
/*------------------------------------ menu -----------------------------------*/
#menu h3 {
    color: rgb(160,82,45);
    border-bottom-color: rgb(160,82,45);
}
#menu fieldset {
    border-color: #FF8C00; /*darkorange*/
}
#menu legend {
    color: #FF8C00; /*darkorange*/
}
#menu fieldset a:hover {
    color: #FF8C00; /*darkorange*/
}
/*------------------------------------ nove -----------------------------------*/
#nove h3 {
    color: rgb(255,140,0);
    border-bottom-color: rgb(255,140,0);
}
/*------------------------------------ main -----------------------------------*/
#main h3 {
    color: orange;
    border-bottom-color: orange;
}
#main h4 {
    color: rgb(205,133,63);
}
#main hr {
    border-color: orange;
}
#main table.data thead {
    background-color: orange;
}
#main table.data tbody td, #main table.pager td {
    border-color: orange;
}
#main table.data tbody tr, #main table.pager td {
    background-color: rgb(245,224,108);
}
#main table.data tbody tr.dark, #main table.pager td.dark {
    background-color: rgb(255,244,128);
}
/*-------------------------------- oble rohy ----------------------------------*/
#top > div.corner, #menu > div.corner, #nove > div.corner, #main > div.corner
{
    background-image: url('/img/corner_orange.png');
}
#container > div.corner
{
    background-image: url('/img/corner_orange_cont.png');
    background-color: rgb(255,255,153);
}
div.flash > div.corner, div.error > div.corner
{
   background-color: rgb(235,202,122);
}