Options +FollowSymLinks +ExecCGI

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteRule (\.css|\.js)$ - [L]
  RewriteRule ^(img/|upload/) - [L]
  RewriteRule (doKlik|getBanner|getScript) distrib/$1.php [L]
  RewriteRule ^(.*)$ index.php [L]
</IfModule>