#Options +FollowSymLinks +ExecCGI
#
#nastavenie php
#<ifModule mod_php5.c>
# #display errors
#  php_flag display_errors off
# #default charset
#  php_value default_charset utf-8
# #pouzi zip
#  php_flag zlib.output_compression on
# #php_value zlib.output_compression 16386
#  php_value zlib.output_compression_level 2
#</ifModule>

#nastavenie url rewritingu
<IfModule mod_rewrite.c>
  RewriteEngine On
 #potrebne pre subdomenu adis.stkpo.sk
  RewriteBase /
 #testovanie
  RewriteRule ^test/ - [L]
 #F = 403 Forbiden, app/ a upload/ su zakazane
  RewriteRule ^(app|upload)/ - [F]
 #requesty s priponou .js a .css - nechat tak
  RewriteRule \.(css|js)$ - [L]
 #graf, banner a captcha
  RewriteRule ^img/(graf|banner|captcha)$ img/$1.php [L]
 #requesty do img/ a distrib/ nechat tak
  RewriteRule ^(img|distrib)/ - [L]
 #requesty pre distribuciu (ak pravidlo sposobi redirect tak sa nanovo vyhodnoti)
  RewriteRule ^(doKlik|getBanner|getScript)$ distrib/loader.php [L]
 #vsetko ostatne na index.php, kde je vlastny routing
  RewriteRule .* index.php [L]
</IfModule>