<?xml version="1.0" encoding="UTF-8"?>

<!--
    Document   : config.xml
    Created on : February 2, 2011, 2:24 PM
    Author     : yohny
    Description:
        kanfiguracny subor aplikacie: nastavenia pripojenia na databazu
        a pocet riakov na stranu pre statistiky
-->

<root>
    <database_host>
        localhost
    </database_host>
    <database_user>
        root
    </database_user>
    <database_password>
        Neslira11
    </database_password>
    <database_name>
        adis
    </database_name>
    <stat_rows_per_page>
        10
    </stat_rows_per_page>
</root>